
@import "tailwindcss";

/* Story Script Fonts */
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
/* Inter Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Story+Script&display=swap');

/*  npx @tailwindcss/cli -i ./src/styles/main.css -o ./src/styles/global.css --watch   */

:root {
  /* Background Color */
  --light-bg: #f4f4f4;      /* Light background */
  --oxford-blue: #020f59;   /* Oxford Blue */
  

  --dark-bg: #0f172a;      /* Dark background */
  --medium-dark-bg: #334155; /* Medium dark background */

  /* Primary Color */
  --primary: #5099d1;
  --primary-50: #002d5a;
  --primary-100: #004171;
  --primary-200: #005688;
  --primary-300: #006ba0;
  --primary-400: #3282b8;
  --primary-500: #5099d1;
  --primary-600: #6bb1eb;
  --primary-700: #86caff;
  --primary-800: #a0e3ff;
  --primary-900: #bafdff;
  --primary-accent: #f2f2f359;
  --muted-foreground: #7c8083;
  
  /* Text Color */
  --main-text: #010626;     /* Rich Black */
  --text-900: #0f0f0f;      /* Very dark text */
  --text-800: #1c1c1c;      /* Dark text */
  --text-transparent: #bbe1fa; /* Transparent text */
  
  /* Hover Effect */
  --primary-hover: #021373;            /* Primary blue */
  --border-hover: #7a7a7a;  /* Border hover */
  --form-border: #9b9b9b;   /* Form border */
  --hover-state: #dcdcdc;   /* Hover state */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Shadow color */
  --shadow-hover: rgba(0, 0, 0, 0.2); /* Shadow hover */

  /* Customize */
  --disabled-text: #3c3c3c; /* Disabled text */
  --diasabled-bg: #5a5a5a;  /* Disabled background */
  --input-bg: #bfbfbf;      /* Input background */


    /* Font Families */
    --font-primary: 'Inter', sans-serif;    /* Primary text */
    --font-title: 'Story Script', cursive;  /* Story Script for headings */
    --font-sub-text: 'Inter', sans-serif;   /* Subtext */
}

.light {
  --primary: #5099d1;
  --primary-50: #002d5a;
  --primary-100: #004171;
  --primary-200: #005688;
  --primary-300: #006ba0;
  --primary-400: #3282b8;
  --primary-500: #5099d1;
  --primary-600: #6bb1eb;
  --primary-700: #86caff;
  --primary-800: #a0e3ff;
  --primary-900: #bafdff;

  --gray: #b0b3b5;
  --gray-50: #191a1a;
  --gray-100: #323334;
  --gray-200: #4a4d4f;
  --gray-300: #636769;
  --gray-400: #7c8083;
  --gray-500: #b0b3b5;
  --gray-600: #cbcccd;
  --gray-700: #e5e6e6;
  --gray-800: #f2f2f3;
  --gray-900: #fafafa;

  --border: #f2f2f3;
  --input: #f2f2f3;
  --ring: #a0e3ff;
  --background: #fafafa;
  --foreground: #191a1a;
  --muted: #f2f2f3;
 
  --accent: #f2f2f3;
  --accent-foreground: #004171;
  --destructive: #ff0000;
  --destructive-foreground: #ffffff;
  --card: #fafafa;
  --card-foreground: #191a1a;
  --popover: #fafafa;
  --popover-foreground: #191a1a;
  
}

.dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-rgb: 149, 76, 233;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 32.6%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 262.1 83.3% 57.8%;
}